body {
    background: #eee;
    font-family: sans-serif;
  }
  
  .card {
    width: 400px;
    background: #fff;
    margin: 16px auto;
    width: 700px;
    height: auto;
    font-size: 16px;
    padding: 8px;
  }
  
  .title {
    background: #e3f4ff;
    margin: 8px;
    padding: 8px;
  
    
  }
  
  .content {
    background: #e3f4ff;
    margin: 8px ;
    padding:8px;
    font-size: 20px;
  }
  
  .button-container {
    background: #e3f4ff;
    text-align: center;
    padding: 8px;
    margin:8px ;
    font-size: 20px;
  }
  
  button {
    background: white;
    border: 1px solid #eee;
    margin-left:24px;
    margin-right:24px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    padding: 8px;
    font-size: 20px;
    
  
  }